<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <title>Home</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="styles/home.css" />
  </head>
  <body>
    <header>
      <div id="logo">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          height="24px"
          viewBox="0 -960 960 960"
          width="24px"
          fill="#e3e3e3"
        >
          <path
            d="M240-400h320v-80H240v80Zm0-120h480v-80H240v80Zm0-120h480v-80H240v80ZM80-80v-720q0-33 23.5-56.5T160-880h640q33 0 56.5 23.5T880-800v480q0 33-23.5 56.5T800-240H240L80-80Zm126-240h594v-480H160v525l46-45Zm-46 0v-480 480Z"
          />
        </svg>
        <h1>CHAT ROOMS</h1>
      </div>
      <div id="action-buttons">
        <!-- <a>Sign In</a>
        <a>Log In</a> -->
        <!-- <a>Chat room List</a> -->
        <a id="log-out" href="/logout">Log Out<svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e3e3e3"><path d="M200-120q-33 0-56.5-23.5T120-200v-560q0-33 23.5-56.5T200-840h280v80H200v560h280v80H200Zm440-160-55-58 102-102H360v-80h327L585-622l55-58 200 200-200 200Z"/></svg></a>
      </div>
    </header>
    <main>
      <h1>Hello <%= username %></h1>
      <ul id="chat-room-list">
        <% for (let i=0; i<groups.length; i++) { %>
        <li class="chat-room">
          <a class="chat-room-contents" href="/chatroom/<%= groups[i]._id %>">
            <h2 class="chat-room-title"><%= groups[i].name %></h2>
            <p class="chat-room-desc"><%= groups[i].desc ? groups[i].desc : "No Description Provided"   %></p>
          </a>
        </li>
        <% } %>
        <!-- <li class="chat-room">
          <a class="chat-room-contents" href="/chatroom/a">
            <h2 class="chat-room-title">Game Club</h2>
            <p class="chat-room-desc">A Small Club for gamers</p>
          </a>
        </li>
        <li class="chat-room">
          <a class="chat-room-contents" href="/chatroom/b">
            <h2 class="chat-room-title">Game Club</h2>
            <p class="chat-room-desc">A Small Club for gamers</p>
          </a>
        </li>
        <li class="chat-room">
          <a class="chat-room-contents" href="/chatroom/c">
            <h2 class="chat-room-title">Game Club</h2>
            <p class="chat-room-desc">A Small Club for gamers</p>
          </a>
        </li> -->
      </ul>
    </main>
  </body>
</html>
